<div class="topnav">
  <%= link_to "Name", roster_path(sort: "name") %>
  <%= link_to "Player ID", roster_path(sort: "player_id") %>
  <%= link_to "Strength", roster_path(sort: "strength") %>
  <%= link_to "Speed", roster_path(sort: "speed") %>
  <%= link_to "Agility", roster_path(sort: "agility") %>
  <%= link_to "Stats Total", roster_path(sort: "stats_total") %>
</div>
