<h1>Hello Roster!</h1>

<%= link_to "View Pool", pool_path %>
<%= link_to "Auto Select", edit_roster_path({cmd: "auto_generate"}) %>

<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Speed</th>
    <th>Strength</th>
    <th>Agility</th>
    <th>Total</th>
    <th>Status</th>
  </tr>
<% @roster.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.player_id %></td>
    <td><%= player.speed %></td>
    <td><%= player.strength %></td>
    <td><%= player.agility %></td>
    <td><%= player.stats_total %></td>
    <td><%= player.status %></td>

    <td>
      <% if player.status != "starter" %>
        <%= link_to "Starter", players_path({player_id: player.player_id, status: 'starter'})%>
      <% end %>
    </td>

    <td>
      <% if player.status != "alternate" %>
        <%= link_to "Alternate", players_path({player_id: player.player_id, status: 'alternate'}) %>
      <% end %>
    </td>

  </tr>
<% end %>
</table>
