<h1>Pool of Players</h1>

<h3>
  <% if @players_on_team == 15 %>
    Your Team is Full
  <% else %>
    Remaining Slots: <%= 15 - @players_on_team %>
  <% end %>
</h3>
<h3>
  Available Players:
  <%= @available_players.count - @players_on_team %>
</h3>

<table class="table">
  <thead>
    <tr id="pool-headers">
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Speed</th>
      <th scope="col">Strength</th>
      <th scope="col">Agility</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
<% @available_players.each do |player| %>
  <tr>
    <th scope="row"><%= player.player_id %></th>
    <td><%= player.name %></td>
    <td><%= player.speed %></td>
    <td><%= player.strength %></td>
    <td><%= player.agility %></td>
    <td><%= player.stats_total %></td>
    <td><%= player.status.upcase %></td>
    <% if player.status == "free" && @players_on_team < 15 %>
      <td><%= link_to "Select Player", players_path({player_id: player.player_id ,on_team: 'true'}), class: "select-player" %></td>
    <% elsif player.status != "free" && @players_on_team <= 15 %>
      <td><%= link_to "Unselect Player", players_path({player_id: player.player_id, on_team: 'false'}), class: "unselect-player" %></td>
    <% end %>
  </tr>
<% end %>
</table>
